<style>
  .texto {
      position: relative; /* o absolute, fixed */
      top: -30px; /* ajusta el valor según lo que necesites */
      left: -140px; /* ajusta el valor según lo que necesites */
      color: rgb(192, 192, 192);
  }
</style>
<div class="texto"><a [routerLink]="['']">Home/</a><a >Error 404</a></div>
<h1>Error 404 page not found</h1>
<p class="zoom-area"><b>404</b> The page was not found, contact customer service </p>
<section class="error-container">
  <span><span>4</span></span>
  <span>0</span>
  <span><span>4</span></span>
</section>
<div class="link-container">
  <a target="_blank" [routerLink]="['']" class="more-link">Back to Home</a>
</div>