<style>
      .texto {
          position: relative; /* o absolute, fixed */
          top: -30px; /* ajusta el valor según lo que necesites */
          left: -140px; /* ajusta el valor según lo que necesites */
          color: rgb(192, 192, 192);
      }
    </style>
    <div class="texto"><a [routerLink]="['']">Home/</a><a >Add Stay</a></div>

<section class="edit-stay">
      
      <form (submit)="onAddStay()" standalone>
            <input type="text" [(ngModel)]="stay.name" name="name" placeholder="Stay name..">
            <div class='img-picker'>
                  <label htmlFor="imgUpload">
                        <div *ngIf="!imgData[0].imgUrl" class="upload-img-btn">
                              <span class="material-symbols-outlined">upload</span>
                        </div>
                        <img *ngIf="imgData[0].imgUrl" class="user-img" [src]="imgData[0].imgUrl" alt="" />
                        <input type="file" (change)="uploadImg($event , 0)" accept="img/*" id="imgUpload" />
                  </label>
                  <label htmlFor="imgUpload">
                        <div *ngIf="!imgData[1].imgUrl" class="upload-img-btn">
                              <span class="material-symbols-outlined">upload</span>
                        </div>
                        <img *ngIf="imgData[1].imgUrl" class="user-img" [src]="imgData[1].imgUrl" alt="" />
                        <input type="file" (change)="uploadImg($event, 1)" accept="img/*" id="imgUpload" />
                  </label>
                  <label htmlFor="imgUpload">
                        <div *ngIf="!imgData[2].imgUrl" class="upload-img-btn">
                              <span class="material-symbols-outlined">upload</span>
                        </div>
                        <img *ngIf="imgData[2].imgUrl" class="user-img" [src]="imgData[2].imgUrl" alt="" />
                        <input type="file" (change)="uploadImg($event, 2)" accept="img/*" id="imgUpload" />
                  </label>
                  <label htmlFor="imgUpload">
                        <div *ngIf="!imgData[3].imgUrl" class="upload-img-btn">
                              <span class="material-symbols-outlined">upload</span>
                        </div>
                        <img *ngIf="imgData[3].imgUrl" class="user-img" [src]="imgData[3].imgUrl" alt="" />
                        <input type="file" (change)="uploadImg($event,3)" accept="img/*" id="imgUpload" />
                  </label>
                  <label htmlFor="imgUpload">
                        <div *ngIf="!imgData[4].imgUrl" class="upload-img-btn">
                              <span class="material-symbols-outlined">upload</span>
                        </div>
                        <img *ngIf="imgData[4].imgUrl" class="user-img" [src]="imgData[4].imgUrl" alt="" />
                        <input type="file" (change)="uploadImg($event, 4)" accept="img/*" id="imgUpload" />
                  </label>
            </div>
            <div class="stay-info">
                  <div class="numeric-inputs">
                        <label for="capacity">{{getTranslation('capacity')}}:
                              <input type="number" max="8" min="0" value="0" [(ngModel)]="stay.capacity" name="capacity"
                                    id="capacity">
                        </label>
                        <label for="bedrooms">{{getTranslation('bedrooms')}}:
                              <input type="number" max="8" min="0" value="0" [(ngModel)]="stay.bedrooms" name="bedrooms"
                                    id="bedrooms">
                        </label>
                        <label for="bathrooms">{{getTranslation('bathrooms')}}:
                              <input type="number" max="8" min="0" value="0" [(ngModel)]="stay.bathrooms"
                                    name="bathrooms" id="bathrooms">
                        </label>
                        <label for="price">{{getTranslation('price')}}:
                              <input type="number" min="0" [(ngModel)]="stay.price" name="price" id="price" required>
                              $ / {{getTranslation('night')}}
                        </label>
                  </div>
                  <div class="select-inputs">
                        <label for="stay-type">{{getTranslation('stay_type')}}:
                              <ng-multiselect-dropdown class="label-picker" [data]="labels" [settings]="selectSettings"
                                    [placeholder]="'Labels'" [ngModel]="stay.labels" (ngModel)="stay.labels"
                                    name="labels"></ng-multiselect-dropdown>
                        </label>
                        <label for="property-type">{{getTranslation('property_type')}}:
                              <select name="property-type" id="property-type" [(ngModel)]="stay.roomType">
                                    <option value="stay">Stay</option>
                                    <option value="apartment">Apartment</option>
                                    <option value="guest stay">Guest stay</option>
                                    <option value="hotel">Hotel</option>
                              </select>
                        </label>
                  </div>
                  <div class="location">
                        <label for="country">{{getTranslation('country')}}:
                              <input type="text" name="country" id="country" [(ngModel)]="stay.loc.country">
                        </label>
                        <label for="country">{{getTranslation('city')}}:
                              <input type="text" name="city" id="city" [(ngModel)]="stay.loc.city">
                        </label>
                        <label for="country">{{getTranslation('address')}}:
                              <input type="text" name="address" id="address" [(ngModel)]="stay.loc.address">
                        </label>
                        <!--testing button-->
                        <button (click)="onGetLocation()">Get Location</button>
                  </div>
            </div>
            <div class="stay-description">
                  <span class="title">{{getTranslation('description')}}</span>
                  <textarea name="summary" [(ngModel)]="stay.summary" id="summary" cols="94" rows="10"></textarea>
            </div>
            <div class="amenities">
                  <ng-multiselect-dropdown [data]="amenities" [settings]="selectSettings" [placeholder]="'Amenities'"
                        [ngModel]="stay.amenities" (ngModel)="stay.amenities"
                        name="amenities"></ng-multiselect-dropdown>
            </div>
            <button class="save-btn">{{getTranslation('save')}}</button>
      </form>
</section>