<style>
      .texto {
          position: relative; /* o absolute, fixed */
          top: -30px; /* ajusta el valor según lo que necesites */
          left: -140px; /* ajusta el valor según lo que necesites */
          color: rgb(192, 192, 192);
      }
    </style>
    <div class="texto"><a [routerLink]="['']">Home/</a><a >Wishlists</a></div>

<section class="user-wishlist">
      <h2>Wishlists</h2>
      <stay-list  *ngIf="stays?.length" [stays]="stays"></stay-list>
      <div *ngIf="!stays?.length" class="empty-wishlist">
            <h3>Create your first wishlist</h3>
            <p>As you search, tap the heart icon to save your favorite places to stay or things to do to a wishlist.</p>
      </div>
</section>