<footer>
  <div class="footer-content">
    <div class="footer-section">
      <h3>Copyright © 2024. Todos los derechos reservados.</h3>
    </div>
    <div class="footer-section">
      <h3>Quiénes somos</h3>
      <p>Depa es una empresa dedicada a la renta de casas y departamentos en todo el mundo. Contamos con una amplia experiencia en el sector inmobiliario y nos apasiona ayudar a las personas a encontrar la estancia perfecta.</p>
    </div>
    <div class="footer-section">
      <h3>Contacto</h3>
      <p>Correo: TuDepa@gmail.com</p>
      <p>Teléfono: 4151628238</p>
      <br><a [routerLink]="['sitemap']">Mapa del Sitio</a>
    </div>
  </div>
</footer>
